body{
    background: #efefef;
    /* color: white; */
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
*{
    margin:0;
    padding: 0;
}
hr{
    height: 0;
    border: none;
    border-top: 1px solid #dedede;

}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.topNavBar  .logo {
    float: left;
}
.topNavBar {
    padding-top: 20px;
    padding-bottom: 12px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.topNavBar-inner {
    padding: 0 16px;
}
.topNavBar  nav {
    float: right;
    padding-top: 7px;
}
.topNavBar  nav > ul{
    list-style: none;
    margin: 0;
    padding: 0;
    /* border: 1px solid red */
}
.topNavBar  nav > ul > li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}
.topNavBar  nav > ul >li>a {
    font-size: 12px;
    color: #b7b7b7;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}
.topNavBar  nav > ul >li>a:hover{
    border-bottom: 3px solid #e06567;
}

.topNavBar .logo {
    font-size: 24px;
    font-family: "Microsoft YaHei";
    padding-top: 3px;
    padding-bottom: 4px;
}
.topNavBar .logo .rs {
    margin-right: 4px;
    color: #e6686a;
}
.topNavBar .logo .card {
    color: #9a9da2;
}
.banner{
    background: url(../img/rs-cover.jpg);
    /* border: 1px solid red; */
    height: 515px;
    background-position: center center;
    background-size: cover;
}
.banner .mask{
    height: 515px;
    background: rgba(0, 0, 0, .7);

}
.userCard{
    /* border: 1px solid red; */
    max-width: 940px;
    margin-left:  auto;
    margin-right: auto;
    background-color: white;
}
.userCard .welcome {
    background: #e6686a;
    color: white;
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}
.userCard .triangle {
    position: absolute;
    display: block;
    width: 0;
    border:10px solid transparent;
    border-top-width: 0px;
    border-left-color: #e6686a;
    left: 4px;
    top: 100%; 
}
.userCard .picture {
    float: left;
}
.userCard .text {
    float: left;
    margin-left: 65px;
    width: 470px;
}
.userCard .text h1 {
    margin-top: 18px;
}
.userCard .text hr {
    margin: 20px 0;
}
.userCard .textAndPicture {
    padding: 50px;
}
.userCard dl dt,
.userCard dl dd {
    float: left;
    padding: 5px 0;
}
.userCard dl dt {
    width: 30%;
    font-weight: bold;
}
.userCard dl dd {
    width: 70%;
    color: #9da0a7;
}
.userCard > footer.media{
    background: #e6686a;
    text-align: center;

}
.userCard > footer.media > a {
    /* border: 1px solid black; */
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    line-height: 30px;
    padding: 10px 0;
    margin: 16px;
}
.userCard > footer.media > a:hover{
    background: #cf5d5f;
}
.userCard svg{
    width: 30px;
    height: 30px;
    fill: white;
    /* margin: 0 16px; */
    vertical-align: top;
}
