body{
    background: #efefef;
    /* color: white; */
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
*{
    margin:0;
    padding: 0;
}
hr{
    height: 0;
    border: none;
    border-top: 1px solid #dedede;

}
ul,ol{
    list-style: none;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.topNavBar  .logo {
    float: left;
}
.topNavBar {
    padding-top: 20px;
    padding-bottom: 12px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.topNavBar-inner {
    padding: 0 16px;
}
.topNavBar  nav {
    float: right;
    padding-top: 7px;
}
.topNavBar  nav > ul{
    list-style: none;
    margin: 0;
    padding: 0;
    /* border: 1px solid red */
}
.topNavBar  nav > ul > li{
    float: left;
    margin-left: 17px;
    margin-right: 17px;
}
.topNavBar  nav > ul >li>a {
    font-size: 12px;
    color: #b7b7b7;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}
.topNavBar  nav > ul >li>a:hover{
    border-bottom: 3px solid #e06567;
}

.topNavBar .logo {
    font-size: 24px;
    font-family: "Microsoft YaHei";
    padding-top: 3px;
    padding-bottom: 4px;
}
.topNavBar .logo .rs {
    margin-right: 4px;
    color: #e6686a;
}
.topNavBar .logo .card {
    color: #9a9da2;
}
.banner{
    background: url(../img/rs-cover.jpg);
    /* border: 1px solid red; */
    height: 515px;
    background-position: center center;
    background-size: cover;
}
.banner .mask{
    height: 515px;
    background: rgba(0, 0, 0, .7);

}
.userCard{
    /* border: 1px solid red; */
    max-width: 940px;
    margin-left:  auto;
    margin-right: auto;
    background-color: white;
    margin-top:-345px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24)
}
.userCard .welcome {
    background: #e6686a;
    color: white;
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
}
.userCard .triangle {
    position: absolute;
    display: block;
    width: 0;
    border:10px solid transparent;
    border-top-width: 0px;
    border-left-color: #e6686a;
    left: 4px;
    top: 100%; 
}
.userCard .picture {
    float: left;
}
.userCard .text {
    float: left;
    margin-left: 65px;
    width: 470px;
}
.userCard .text h1 {
    margin-top: 13px;
    color: #3d4451;
    font-size: 30px;
    line-height: 39px;
}
.userCard .text p {

    color: #535965;
    font-family: "Open Sans";
    font-weight: 400;
}

.userCard .text hr {
    margin: 25px 0;
}
.userCard .textAndPicture {
    padding: 50px;
}
.userCard dl dt,
.userCard dl dd {
    float: left;
    padding: 13px 0;

}
.userCard dl dt {
    width: 30%;
    font-weight: bold;
}
.userCard dl dd {
    width: 70%;
    color: #9da0a7;
}
.userCard > footer.media{
    background: #e6686a;
    text-align: center;

}
.userCard > footer.media > a {
    /* border: 1px solid black; */
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    line-height: 30px;
    padding: 10px 0;
    margin: 16px;
}
.userCard > footer.media > a:hover{
    background: #cf5d5f;
}
.userCard svg{
    width: 30px;
    height: 30px;
    fill: white;
    /* margin: 0 16px; */
    vertical-align: top;
}
main > .button-wrapper {
    max-width:940px ;
    margin:35px auto 40px;
    text-align: center;

}
main .button-wrapper> .button {
    border: 1px solid #cbcdcf;
    color: #3d4451;
    padding:21px 50px;
    font-size: 15px; 
    display: inline-block;
    vertical-align: top;
    border-radius: 3px;
    transition: all .3s ease-in;
    font-family: STXihei, "Microsoft YaHei";
}
main .button-wrapper> .button:hover{
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
main .introduction {
    max-width: 940px;
    /* border: 1px solid red; */
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    line-height: 35px;
    font-family: Helvetica, Tahoma, Arial, "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
}
.content{
    max-width: 940px;
    margin: 0 auto;
    /* border: 1px solid red; */
    margin-top: 75px;

}
.content >.title {
    color:  #3d4451;
    font-size: 34px;
    text-align: center;
    margin-bottom: 25px;
}
.content .skills {
    background: white;
    box-sizing: border-box;
    padding: 40px 50px 50px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.content .skills>li{
    float: left;
    width: 50%;
    font-size: 14px;
    color: #3d4451;
    box-sizing: border-box;
    padding: 0 15px;
    margin-bottom:40px;
    position: relative;
    font-family: Helvetica, Tahoma, Arial, "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
    font-family: Helvetica, Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
}
.content .skills>li:nth-last-child(-n+2){
    margin-bottom:0;
}
.content .skills >li> .bar{
    margin-top: 5px;
    height: 5px;
    width: 0px;
    background: #e06567;
    position: absolute;
    z-index: 999;
    border-radius: 5px;
}
.content .skills >li::after{
    content: '';
    display: block;
    margin-top: 5px;
    height: 5px;
    background: #e06567;
    opacity: 0.5;
    border-radius: 5px;
}
.content .userSkills {
    text-align: center;
}
.content .userSkills > ol {
    display: inline-block;
}
.content .userSkills > ol > li {
    float: left;
    font-size: 20px;
    padding: 0 10px;
    cursor: pointer;
    /*小米字体写法*/
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}

.content .chooseSkill {
    /* border: 1px solid red; */
    margin: 10px auto 35px;
    width: 200px;
    height: 5px;
    background: white;
    border-radius: 5px;
    
}
.content  .chooseSkill > .active1  {
    background: #e06567;
    width: 48px;
    height: 5px;
    border-radius: 5px;
    transition: all .3s ease-in;
}
.content  .chooseSkill > .active2  {
    background: #e06567;
    width: 48px;
    height: 5px;
    border-radius: 5px;
    margin-left: 48px;
    transition: all .5s ease-out;
}
.content  .chooseSkill > .active3  {
    background: #e06567;
    width: 104px;
    height: 5px;
    border-radius: 5px;
    margin-left: 96px;
    transition: all .3s ease-in;
}

.content .jobs>.big{
    background: url(../img/big.jpg) no-repeat;
    height: 570px;
    width: 600px;
    float: left;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

}
.content .jobs>.small{
    background: url(../img/small1.jpg) no-repeat;
    width: 290px;
    height:275px;
    float: left;
    margin-left: 50px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
.content .jobs>.small-2 {
    margin-top:20px;
}


