body{
    background: black;
    color: white;
    margin: 0;
}
a{
    color: inherit;
    text-decoration: none;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.topNavBar > .logo {
    float: left;
}
.topNavBar {
    padding-top: 20px;
    padding-bottom: 12px;
    padding-left:16px;
    padding-right: 16px; 
}
.topNavBar > nav {
    float: right;
    padding-top: 7px;
}
.topNavBar > nav > ul{
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid red
}
.topNavBar > nav > ul > li{
    float: left;
    border: 1px solid green;
    margin-left: 17px;
    margin-right: 17px;
}
.topNavBar > nav > ul >li>a {
    font-size: 12px;
    color: #b7b7b7;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}
.topNavBar > nav > ul >li>a:hover{
    border-bottom: 3px solid #e06567;
}

.topNavBar .logo {
    font-size: 24px;
    font-family: "Microsoft YaHei";
    padding-top: 3px;
    padding-bottom: 4px;
}
.topNavBar .logo .rs {
    margin-right: 4px;
    color: #e6686a;
}
.topNavBar .logo .card {
    color: #9a9da2;
}

